
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.div-color{
  width: 350px;
  height: 350px;
  background-color: rgb(206, 67, 79);
}
