.form-select-event-by-style{
  width: 25%;
  margin: 5px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1vh;
}

.error{
  width: 100%;
  color: var(--qgd-color-05);
}


@media (max-width: 431px) {
  .form-select-event-by-style{
    width: 80%;
    padding: 3px;
    margin-top: 9vh;
  }

}

