footer {
  width: 100%;
  height: auto;
  background-color: var(--qgd-color-10);
}

.div-social{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.div-info{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}