.img-container, .log-out-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor:pointer;
}

.img-avatar, .img-log-out{
  width: 32px;
  height: 32px;
}