

.section-profile{
  width: 50vw;
  height: auto;
  margin: 3%;
  padding: 2%;
  background-color: var(--qgd-color-07);
  background-image: url("https://www.transparenttextures.com/patterns/graphy-dark.png");
  border-radius: 20px;
  gap:10px
}

.div-poster{
  width: 325px;
  border-radius: 20px;

}

.poster-profile{
  width: 100%;
  border-radius: 20px;

}

.div-event-details{
  width: 60%;
  border-radius: 20px;
  background-color: var(--qgd-color-20);
}

.div-event-details > h3 {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--qgd-color-05);
}

.div-event-details > p{
  font-weight: 100;
  color: var(--qgd-color-05);
  font-size: small;
}

.div-event-about{
  width: 100%;
  border-radius: 20px;
  background-color: var(--qgd-color-20);
  padding: 10px;
}

.div-event-about > h3{
  font-weight: 900;
  text-transform: capitalize;
  color: var(--qgd-color-05);
}

.div-event-about > p{
  text-align: center;
  font-weight: 100;
  color: var(--qgd-color-05);
  font-size: smaller;
}

.div-avatar-attendees{
  width: 100%;
  border-radius: 20px;
  
}
.div-avatar-attendee >h3{
  font-weight: 900;
  text-transform: capitalize;
  color: var(--qgd-color-05);
}
.ul-attendees{
  width: 350px;
  gap: 10px;
  background-color: var(--qgd-color-20);
  padding: 10px;
  border-radius: 20px;
}

.avatar-attendee{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-image: url("/assets/images/usuario.png");
}